h2 {
  color: #424243;
  font-weight: bold;
}

h3 {
  color: #b1b6cc;
  font-weight: 500;
  text-decoration: underline;
}

h4 {
  color: #b1b6cc;
}


.bookblock {
  background-color: #F3F2F1;
  width: 330px;
  height: 417px;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
  margin-left: 32px;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.03);
  }
}

.skeletonblock {
  margin-top: 30px;
  margin-left: 20px;
}

